DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=josephbochettowalsh.com,www.josephbochettowalsh.com
AWS_STORAGE_BUCKET_NAME=jbw-media-195275646962
AWS_S3_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
